page-repeated-cards {
    .collections-page{
        background-color: white;
    }

    .card-size{
        width: 100%;
    }
    .collection-id{
        font-family: Abel;
        text-transform: uppercase;
        text-align: center;
        font-size: 4vw;
        position: absolute;
        top: 9%;
        left: 0;
        width: 100%;
    }
    .collection-cards{
        text-align: center;
        font-size: 30px;
        font-family: Abel;
        color: white;
        position: absolute;
        bottom: 39px;
        left: 0;
        width: 100%;
        &:after{
            content: "";
            display: block;
            margin: 0 auto;
            width: 70%;
            padding-top: 8px;
            border-bottom: 1.5px solid #f4f4f4; 
        }
    }
}
