// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-badge{
    &.badge{
        &.dbh-badge{
            position: absolute;
            top: -2px;
            left: -5px;
            z-index: 999999;
        }
    }
}

.toolbar-background{
    background-color: rgb(26, 71, 112);
}

.toolbar-title{
    color: white;
}

.bar-button{
    color: white;
}

.content-md{

    background: linear-gradient(270deg, #340035, #440089, #480124, #005e77);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

}

ion-app{
    background-color: gray !important;
}

ion-header{
    background-color: gray !important;
}

ng-component{
    background-color: gray !important;
}

ion-nav{
    background-color: gray !important;
}

.add-rest-but-container{
    width: 100%;
    display: inline-flex;
    button{
        width: 50%;
    }
}

.popover{
    float: right;
    position: absolute;
    right: 0;
    top: 8px;
}

.cardwrapper{
    padding-top: 30px;
}

.card-id-tag{
    background-color: coral;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 800;
    border-radius: 5px;
}



.no-repeated-cards-container{
    .no-repeated-cards-text{
        text-align: center;
    }
    .no-repeated-cards{
        display: flex;
        justify-content: center;
        img{
            width: 60%;
            height: auto;
        }
    }

}

img{
    &.card-size{
        width: 100%;
    }
}


