page-dbh-menu {
    .home-menu {
        height: 20%;
        width: 100%;
        background-color: aqua;
        margin-bottom: 5px;
        .home-menu-titles{
            font-size: 7vw;
            font-family: roboto;
            font-weight: 100;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }
}
