page-card-preview-modal {
    .preview-card-img{
        text-align: center;
        background-color: transparent;
    }
    .preview-card-btn{
        text-align: center;
        background-color: transparent; 
    }
    img{
        border-radius: 10px;
        width: 70%;
    }
}
